.info {
  position: absolute;
  top: 0;
  left: 0;
  margin: 16px;
  padding: 8px;
  border: 1px solid #eee;
  border-radius: 8px;
  width: 180px;
  height: 256px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;

  .placeholder {
    color: rgba(255, 255, 255, 0.54);
    font-size: 19px;
    transform-origin: 0 0;
    transform: scale(0.75) perspective(100px) translateZ(0.001px);
  }

  .checkbox {
    cursor: pointer;
    margin-bottom: 12px;
  }

  .slider {
    mat-label {
      position: absolute;
    }
  }

  // mat-slider.mat-slider {
  //   top: -16px;
  // }
}

.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/assets/images/space-1.jpg);

  // #spaceship {
  //   color: red;
  //   transform-origin: center;
  // }

  // #canvas {
  // }

  // .move {
  //   position: absolute;
  //   font-size: 20px;
  // }

}

// .rotate {
//   transform-origin: 50% 50%;
//   animation: rotate 8000s linear infinite;
// }

// .spin {
//   transform-origin: calc(50% - 300px) calc(50% - 300px);
//   animation: spin 800s linear infinite;
// }

// @keyframes rotate {
//   0% {
//     transform: rotateZ(0deg);
//   }

//   100% {
//     transform: rotateZ(-360deg);
//   }
// }

// @keyframes spin {
//   100% {
//     -webkit-transform: rotate(360deg);
//     transform: rotate(360deg);
//   }
// }
