<div fxLayout="row">
  <div class="info">

    <div class="scene" fxLayout="column">
      <div class="checkbox" fxLayoutAlign="start center" fxLayoutGap="8px"
        (click)="sceneDebugControl.setValue(!sceneDebugControl.value)" matRipple>
        <mat-icon *ngIf="sceneDebugControl.value">check_box</mat-icon>
        <mat-icon *ngIf="!sceneDebugControl.value">check_box_outline_blank</mat-icon>
        <mat-label translate>scene-debug</mat-label>
      </div>
      <div class="slider" fxLayout="column">
        <mat-label class="placeholder" translate>scene-speed</mat-label>
        <mat-slider track-bg="white" active-color="primary" min="0" max="10" step="1" thumbLabel
          [value]="sceneSpeedControl.value" (input)="sceneSpeedControl.setValue($event.value)">
        </mat-slider>
      </div>
    </div>

    <div *ngIf="selected" class="selected" fxLayout="column">
      <mat-form-field color="white">
        <mat-label translate>luminary-name</mat-label>
        <input matInput [formControl]="luminaryNameControl">
      </mat-form-field>
      <div class="slider" fxLayout="column">
        <mat-label class="placeholder" translate>luminary-size</mat-label>
        <mat-slider track-bg="white" active-color="primary" min="0.1" max="20" step="0.1" thumbLabel
          [value]="luminarySizeControl.value" (input)="luminarySizeControl.setValue($event.value)">
        </mat-slider>
      </div>
    </div>

  </div>
  <div #container class="container">
  </div>
</div>
<!-- <div #container class="container" (click)="goTo($event)"> -->

<!-- <svg [style.height.%]="100" [style.width.%]="100">

    <ellipse cx="50%" cy="50%" fill="none" rx="450" ry="225" stroke="white" stroke-width="0.5" stroke-opacity="0.6">
    <circle cx="50%" cy="50%" fill="none" r="424" stroke="white" stroke-width="0.5" stroke-opacity="0.6"></circle>
    </ellipse>
    <g class="rotate" x="calc(50% - 25px - 300px)" y="calc(50% - 25px - 300px)">
      <image class="spin" [attr.xlink:href]="'assets/images/planet-m-1.png'" height="50" width="50"
        x="calc(50% - 25px - 300px)" y="calc(50% - 25px - 300px)" />
    </g>
    <image [attr.xlink:href]="'assets/images/sun-1.png'" height="200" width="200" x="calc(50% - 100)"
      y="calc(50% - 100)" />


    <circle *ngIf="destination && moves.length" [attr.cx]="destination.x" [attr.cy]="destination.y" fill="none" r="5"
      stroke="red" stroke-width="2">
      <animate attributeName="r" from="3" to="12" dur="1.5s" begin="0s" repeatCount="indefinite" />
      <animate attributeName="opacity" from="0.8" to="0" dur="1.5s" begin="0s" repeatCount="indefinite" />
    </circle>

    <image [attr.xlink:href]="'assets/images/spaceship-3.png'" [attr.height]="spaceship.size.height"
      [attr.width]="spaceship.size.width" [attr.x]="spaceship.position.x - spaceship.size.width / 2"
      [attr.y]="spaceship.position.y - spaceship.size.height / 2"
      [attr.transform]="'rotate(' + spaceship.rotation.degree.toFixed(2) + ', ' + spaceship.position.x+ ', ' + spaceship.position.y + ')'" />


  </svg> -->

<!-- <canvas id="canvas" #canvas ></canvas> -->

<!-- </div> -->
